<div class="footer-wrapper">
    <div class="footer footer-container">
      <div class="footer footer-column-one footer-column">
        <h6>QUICK LINKS</h6>
        <ul>
          <li><a href="" target="_blank">Home</a></li>
          <li><a href="https://nikitanovik.notion.site/About-964b44222d464ed4a924902f32074c20" target="_blank">About</a></li>
          <li><a href="https://nikitanovik.notion.site/Contact-8a972bed5fc14fca80ec6e739c6b7c79" target="_blank">Contact</a></li>
        </ul>
      </div>
      <div class="footer footer-column-two footer-column">
        <h6>PROJECTS</h6>
        <ul>
          <li><a href="https://nikitanovik.notion.site/Website-Design-8ad29485efe94932a2b99358bf3393dd" target="_blank">Website Design</a></li>
          <li><a href="https://nikitanovik.notion.site/Mobile-Design-79fffb8b1fdc4a16973137705dce3e04" target="_blank">Mobile Design</a></li>
          <li><a href="https://nikitanovik.notion.site/App-Design-a57690c204a44bad9e9a494deb71ffd9" target="_blank">App Design</a></li>
        </ul>
      </div>
      <div class="footer-column-three footer-column">
        <h6>DON'T FORGET TO FOLLOW!</h6>
        <a href="https://medium.com/@nikita.a.novik" target="_blank"><i class="fa fa-medium"></i></a>
      </div>
      <div class="footer-column-four footer-column">
        <h3 class="subscribe-title">Let's Stay in Touch!</h3>
        <a href="mailto:nikita.novik.ux@gmail.com?subject=Hello%20Nikita" target="_blank" class="email">nikita.novik.ux@gmail.com</a>
      </div> 
    </div>
  </div>
